loginfinal.json
[
  {
    "id": "92b8c036bf6f1963",
    "type": "tab",
    "label": "Login",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "1e0841f1.ac68fe",
    "type": "http in",
    "z": "92b8c036bf6f1963",
    "name": "",
    "url": "/login",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 240,
    "wires": [["4c783328.03dc2c"]]
  },
  {
    "id": "5de0bbd4.6c8574",
    "type": "http in",
    "z": "92b8c036bf6f1963",
    "name": "",
    "url": "/mysitepost",
    "method": "post",
    "swaggerDoc": "",
    "x": 150,
    "y": 440,
    "wires": [
      [
        "80321000.f2dc5",
        "75913f37.78e6e",
        "13898f485a6ea071",
        "8869b78f9756acdc"
      ]
    ]
  },
  {
    "id": "4c783328.03dc2c",
    "type": "function",
    "z": "92b8c036bf6f1963",
    "name": "msg.url = \"mysitepost\";",
    "func": "msg.url = \"mysitepost\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 240,
    "wires": [["b2f5bdf9.e09f1"]]
  },
  {
    "id": "80321000.f2dc5",
    "type": "debug",
    "z": "92b8c036bf6f1963",
    "name": "mysitepost",
    "active": true,
    "tosidebar": true,
    "console": false,
    "complete": "payload",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 440,
    "wires": []
  },
  {
    "id": "8de9647.b8a9a98",
    "type": "http response",
    "z": "92b8c036bf6f1963",
    "name": "",
    "x": 810,
    "y": 400,
    "wires": []
  },
  {
    "id": "b2972258.ecf54",
    "type": "template",
    "z": "92b8c036bf6f1963",
    "name": "CSS",
    "field": "payload.style",
    "fieldType": "msg",
    "format": "html",
    "syntax": "mustache",
    "template": "* {\n  box-sizing: border-box;\n}\n.App {\n   max-width: 420px;\n   margin: 0 auto;\n}\nbody {\n  color: #232c47;\n}\n\np {\n   text-align: center;\n   font-weight: 500;\n}\n\ninput[type=text],input[type=password],input[type=email], select, textarea {\n   width: 100%;\n   padding: 12px;\n   border: 1px solid #2e3c66;\n   border-radius: 4px;\n   box-sizing: border-box;\n   margin-top: 6px;\n   margin-bottom: 16px;\n   resize: vertical;\n}\ninput[type=submit] {\n   background-color: #2e3c66;\n   color: white;\n   padding: 12px 20px;\n   border: none;\n   border-radius: 4px;\n   cursor: pointer;\n}\ninput[type=submit]:hover {\n   background-color: #232c47;\n}\n.container {\n   border-radius: 5px;\n   background-color: #f2f2f2;\n   padding: 20px;\n}",
    "x": 530,
    "y": 340,
    "wires": [["f3b55ea2.f4d51"]]
  },
  {
    "id": "b2f5bdf9.e09f1",
    "type": "template",
    "z": "92b8c036bf6f1963",
    "name": "JavaScript",
    "field": "payload.script",
    "fieldType": "msg",
    "format": "javascript",
    "syntax": "plain",
    "template": "$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){                          \n                $(\"#result\").html(returnhtml); \n                $(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});",
    "x": 370,
    "y": 340,
    "wires": [["b2972258.ecf54"]]
  },
  {
    "id": "d2c0bc2a.05a02",
    "type": "http response",
    "z": "92b8c036bf6f1963",
    "name": "",
    "x": 810,
    "y": 340,
    "wires": []
  },
  {
    "id": "f3b55ea2.f4d51",
    "type": "template",
    "z": "92b8c036bf6f1963",
    "name": "HTML",
    "field": "payload",
    "fieldType": "msg",
    "format": "handlebars",
    "syntax": "mustache",
    "template": "<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Autonomous Vehicle System</h2>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fusername\">Username</label>\n    <input type=\"text\" id=\"fusername\" name=\"username\">\n\n    <label for=\"pwd\">Password</label>\n    <input type=\"text\" id=\"pwd\" name=\"password\">\n    <input type=\"submit\" value=\"Submit\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>",
    "x": 670,
    "y": 340,
    "wires": [["d2c0bc2a.05a02"]]
  },
  {
    "id": "57316751.8bd948",
    "type": "comment",
    "z": "92b8c036bf6f1963",
    "name": "Login Form",
    "info": "",
    "x": 330,
    "y": 300,
    "wires": []
  },
  {
    "id": "ad88b28c.bc842",
    "type": "function",
    "z": "92b8c036bf6f1963",
    "name": "return msg.payload to client",
    "func": "msg.payload = msg.payload;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 400,
    "wires": [["8de9647.b8a9a98"]]
  },
  {
    "id": "42a9d329.9cdf6c",
    "type": "comment",
    "z": "92b8c036bf6f1963",
    "name": "Inject msg object properties",
    "info": "",
    "x": 340,
    "y": 200,
    "wires": []
  },
  {
    "id": "75913f37.78e6e",
    "type": "json",
    "z": "92b8c036bf6f1963",
    "name": "",
    "x": 350,
    "y": 400,
    "wires": [["ad88b28c.bc842"]]
  },
  {
    "id": "86c08a83.385758",
    "type": "comment",
    "z": "92b8c036bf6f1963",
    "name": "Website",
    "info": "",
    "x": 110,
    "y": 160,
    "wires": []
  },
  {
    "id": "111485fa.14c4aa",
    "type": "comment",
    "z": "92b8c036bf6f1963",
    "name": "Form Submission",
    "info": "",
    "x": 140,
    "y": 380,
    "wires": []
  },
  {
    "id": "3c029955.901626",
    "type": "comment",
    "z": "92b8c036bf6f1963",
    "name": "Node-RED Public Site - README",
    "info": "This Flow demonstrates how to create\na simple frontend webpage with Node-RED.\n\nThe public facing page consists of the \nclient side JavaScript, CSS and HTML. \n\nThe important technique is how the mustache \ntemplates are used. Each template will set the\n\"property\" relative to the content. \n\nThe CSS node sets the \"msg.payload.style\" property.\nThe JavaScript node sets the \"msg.payload.script\" property.\nThe HTML node then includes these properties \n<script>{{{payload.script}}}</script>\n<style>{{{payload.style}}}</style>\n\n\nThis example was created by http://www.InternetofLEGO.com\n\n",
    "x": 440,
    "y": 60,
    "wires": []
  },
  {
    "id": "3f10de483962d651",
    "type": "comment",
    "z": "92b8c036bf6f1963",
    "name": "",
    "info": "",
    "x": 470,
    "y": 160,
    "wires": []
  },
  {
    "id": "e8ad2e9c5f2121ec",
    "type": "http in",
    "z": "92b8c036bf6f1963",
    "name": "",
    "url": "/login",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 120,
    "y": 560,
    "wires": [["8869b78f9756acdc"]]
  },
  {
    "id": "8869b78f9756acdc",
    "type": "function",
    "z": "92b8c036bf6f1963",
    "name": "Query DB",
    "func": "t = \"SELECT username, password FROM Logins WHERE username='\"+msg.payload.username+\"'\"\nreturn {topic:t};",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 560,
    "wires": [["b987e691efab1d01"]]
  },
  {
    "id": "ecff42ec1bd438b5",
    "type": "json",
    "z": "92b8c036bf6f1963",
    "name": "",
    "property": "payload",
    "action": "",
    "pretty": true,
    "x": 630,
    "y": 560,
    "wires": [["2574dbc57c621e7d", "832711a42f6b5e70", "56704bee36b9037d"]]
  },
  {
    "id": "832711a42f6b5e70",
    "type": "debug",
    "z": "92b8c036bf6f1963",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 560,
    "wires": []
  },
  {
    "id": "2574dbc57c621e7d",
    "type": "http response",
    "z": "92b8c036bf6f1963",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 790,
    "y": 500,
    "wires": []
  },
  {
    "id": "b987e691efab1d01",
    "type": "mysql",
    "z": "92b8c036bf6f1963",
    "mydb": "6956152fdeb741d3",
    "name": "",
    "x": 470,
    "y": 560,
    "wires": [["ecff42ec1bd438b5", "b7ad3a2d1031dcca"]]
  },
  {
    "id": "13898f485a6ea071",
    "type": "debug",
    "z": "92b8c036bf6f1963",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload.username",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 130,
    "y": 500,
    "wires": []
  },
  {
    "id": "56704bee36b9037d",
    "type": "debug",
    "z": "92b8c036bf6f1963",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 620,
    "wires": []
  },
  {
    "id": "b7ad3a2d1031dcca",
    "type": "function",
    "z": "92b8c036bf6f1963",
    "name": "output",
    "func": "if (msg.payload[0] != null) {\n   msg.payload = \"valid user\";\n}\nelse{\n    msg.payload = \"invalid user\"\n}\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 610,
    "y": 680,
    "wires": [["6256243fca829fdd"]]
  },
  {
    "id": "6256243fca829fdd",
    "type": "debug",
    "z": "92b8c036bf6f1963",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 700,
    "wires": []
  },
  {
    "id": "6956152fdeb741d3",
    "type": "MySQLdatabase",
    "name": "",
    "host": "sql4.freesqldatabase.com",
    "port": "3306",
    "db": "sql4467174",
    "tz": "",
    "charset": "UTF8"
  }
]
